.App {
  text-align: center;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* font-size: calc(10px + 2vmin);
  color: black; */
}

.CartContext.Provider{
  align-items: center; 
  display: flex; 
  min-height: 60vh;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: whitesmoke;
}

#checkout-sidebar {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  width: 40%;
  background-color: grey;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 70px 5px 5px 5px;
  z-index: 98;
  /* overflow: scroll; */
}

#cart-checkbox {
  display: none;
}

#cart-img {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 60px;
}

input[type="checkbox"]:checked ~ #checkout-sidebar{
  transform: translateX(0px);
}

input[type="checkbox"]:checked ~ #items{
  width: 60%;
}

#items {
  transition: transform 250ms ease-in-out;
}

.card {
  max-width: 100%;
}


.cart-entry { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.cart-info {
  max-width: 50%;
  align-items: center;
}

.cart-pic {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.checkout {
  text-align: center;
  position: absolute;
  bottom: 40px;
}

.total-price {
  text-align: center;
  position: absolute;
  bottom: 20px;
}

/* @media only screen and (max-width: 600px) {
  #checkout-sidebar {
    width: 40%;
    transform: translateX(100%);
  }
  input[type="checkbox"]:checked ~ #items{
    width: 60%;
    padding: 65px 5px 5px 5px;
  }
} */