.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: gray; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);
  color: black; */
}

.CartContext.Provider{
  align-items: center; 
  display: flex; 
  min-height: 60vh;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

